<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!--日志路径-->
    <property name="LOG_PATH" value="/var/tmp/oauth2-authorization-server"/>
    <!--日志文件-->
    <property name="LOG_FILE" value="${LOG_PATH}/spring.log}"/>
    <!--存档文件的最大数量-->
    <property name="LOGBACK_ROLLINGPOLICY_MAX_HISTORY" value="30"/>
    <!--存档文件的总大小-->
    <property name="LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP" value="20MB"/>
    <!--日志文件大小-->
    <property name="LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE" value="5MB"/>
    <!--启动时执行归档删除-->
    <property name="LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START" value="true"/>
    <!--引入spring boot 提供的logback的base日志配置-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.springframework.boot.actuate.endpoint.jmx" level="WARN"/>

</configuration>